/* reset
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* fine reset */

/* 
.logo {
    border: 1px solid red;
    height: 80px;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    background-size: cover;
} */
